venv/
sssom/__pycache__/
.idea
sssom.egg-info
build/
dist/
*.pyc
tests/cob-to-external.ttl
tests/cob-to-external.owl
tests/tmp/
tests/data/basic-cliquesummary-stats.tsv
tests/data/basic-cliquesummary.tsv
tests/data/sssom.yaml
tmp/
schema/sssom-docs/
.DS_Store
.tox
sphinx/_build
sphinx/_static
spinx/_templates
