[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = ">=0.0"
pandas = ">=0.0"
linkml = ">=1.0.0"
jsonasobj = "~=1.2.1"
sphinx-rtd-theme = "==0.4.3"
sphinx-click = "==2.3.1"
scikit-learn = ">=0.0"
networkx = ">=0.0"
pandasql = ">=0.0"
PyYAML = ">=0.0"
Sphinx = ">=2.3.1"
validators = ">=0.0"

[dev-packages]

[requires]
python_version = "3.8"
