linkml>=1.0.4
linkml-runtime>=1.0.13
linkml-model>=1.0.4
rdflib>=0.0
pandas>=0.0
pyyaml>=0.0
jsonasobj~=1.2.1
Sphinx>=2.3.1
sphinx-rtd-theme==0.4.3
sphinx-click==3.0.1
scikit_learn>=0.0
networkx>=0.0
pandasql>=0.0
sparqlwrapper>=0.0
pytest>=0.0
validators>=0.0
click>=0.0
scipy>=0.0
recommonmark>=0.7
