name: Update sssom context
on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 1"
jobs:
  update_context:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Work around permission issue
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      
      - name: Update schema files
        run: make all_schema

      - name: Update sssom context
        run: |
          mkdir -p sssom
          make deploy-dm

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        if: ${{ success() }}
        with:
          commit-message: Update sssom.context
          title: 'Update sssom.context'
          body: |
            This pull request updates sssom.context. Make sure you run make tests manually.
          assignees: matentzn